 body {
        font-family: "comic sans ms";    
            background-image: url("https://openclipart.org/download/219522/Fireworks-Remix-2015052712.svg")
        }
        
        table{
            border:
            font-size: 20px dotted white; /* add a border */
        
        font-size: 20px; /* change font size */
      background-color:white;   
        }
        td{ 
        }
        p{ background-color:green; 
            background-color: rgba(255,255,0,.5)
        }
   <hover>
        text decoration: 
        
   
    
    